*{
    margin: 0px;
    padding: 0px ;
}

menu{
    position: absolute;
    top: 1%;
    left: 35%;
    width: 400px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: cover;
}

p.menu{
    background-color: #F8A4BD;
    width: 100%;
    height: 95px;
}

div{
    width: 100%;
    height: 400px;
    background-color: #F8A4BD;
    color: black;
    margin: -5px 0px 0px 0px;
}