@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */

@media screen and (min-width: 481px) and (max-width: 768px) {
    div#grup{
        margin-top: -110px;
        background-size: 750px;
        width: 100%;
        height: 100%;
    
    }

    article{
        height: 43vh;
    }

    div.soyeon-pq{
        display: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div.minnie{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    
    div.shuhua{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div.yuqi{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div.miyeon{
        margin-top: 20px;
        margin-bottom: 20px;
    }  

    img{
        width: 300px;
        height: 210px;
    }
    
    div#soyeon-m{
        display: block;
        margin: auto;
        background-image: url(imagens/soyeon-m.jpg);
        width: 400px;
        height: 400px;
        background-size: 400px;
    }
    

    p#text{
    }
}