@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */

@media screen and (min-width: 481px) and (max-width: 768px){
    body, html{
        background-color: #e4c8d6;
    }
    section#Login{
        width: 80vw;
        height: 75%;
        box-shadow: 0px 0px  10px #a5768d;
    }
    section#Login > div#imagen{
        float: left;
        width: 30%;
        height: 100vh;
        background-position: right top;
    }

    section#Login > div#formulário{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body, html{
        background-color: #A7EBE2;
    }
    section#Login{
        width: 80vw;
        height: 75%;
        box-shadow: 0px 0px  10px #5e8a84;
    }
    section#Login > div#imagen{
        float: left;
        width: 40%;
        height: 100vh;
        background-position: left;
    }

    section#Login > div#formulário{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 1025px){
    body, html{
        background-color: #D1C9E8;
    }
    section#Login{
        width: 80vw;
        height: 80vh;
        box-shadow: 0px 0px  10px #5d537a;
    }
    section#Login > div#imagen{
        float: right;
        width: 40%;
        height: 100vh;
        background-position: center;
    }

    section#Login > div#formulário{
        float: left;
        width: 60%;
    }

    div#formulário > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#formulário > p{
        font-size: 1em;
    }
}