@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */

@media screen and (min-width: 481px) and (max-width: 768px){
    body, html{
        background-color: #e4c8d6;
    }
    section#Login{
        width: 80vw;
        height: 75%;
        box-shadow: 0px 0px  10px #a5768d;
    }
    section#Login > div#imagen{
        float: left;
        width: 30%;
        height: 100vh;
        background-position: right top;
    }

    section#Login > div#formulário{
        float: right;
        width: 70%;
    }

    form > div.campo{
        display: block;
        background-color: #e2aec8;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        margin: 5px 5px 5px -1px;
    }
    
    div.campo > label{
        display: none;
    }
    
    }

    div.campo > span{
        color: white;
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }

    div.campo > input{
    font-size: 1em;
    width: calc(80% - 30px);
    height: 80%;
    border: 0px;
    border-radius: 5px;
    transform: translateY(-10px);
    
    }
    
    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #e4c8d6 ;
        border: 1px solid #e2aec8;
        cursor: pointer;
        border-radius: 5px;
    }
    
    form > input[type=submit]:hover{
        background-color: #e6afca;
        border: 1px solid #ebd9e2;
    }
    
    form > a.botao{
        text-decoration: none;
        background-color: #e4c8d6;
        display: block;
        text-align: center ;
        padding-top: 6px;
        font-size: 1em;
        height: 40px;
        border: 1px solid #e2aec8;
        color: black;
        border-radius: 5px;
        margin-top: 5px;
    
    }
    
    form > a.botao:hover{
        background-color: #e6afca;
        border: 1px solid #ebd9e2;
    }

    


@media screen and (min-width: 769px) and (max-width: 1024px) {
    body, html{
        background-color: #A7EBE2;
    }
    section#Login{
        width: 80vw;
        height: 75%;
        box-shadow: 0px 0px  10px #5e8a84;
    }
    section#Login > div#imagen{
        float: left;
        width: 40%;
        height: 100vh;
        background-position: left;
    }

    section#Login > div#formulário{
        float: right;
        width: 60%;
    }

    form > div.campo{
        display: block;
        background-color: #63cfc1;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        margin: 5px 5px 5px -1px;
    }
    
    div.campo > label{
        display: none;
    }

    div.campo > span{
        color: white;
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }

    div.campo > input{
        font-size: 1em;
        width: calc(80% - 30px);
        height: 80%;
        border: 0px;
        border-radius: 5px;
        transform: translateY(-10px);
        
        }
    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #A7EBE2 ;
        border: 1px solid #63cfc1;
        cursor: pointer;
        border-radius: 5px;
    }
    
    form > input[type=submit]:hover{
        background-color: #63cfc1;
        border: 1px solid #A7EBE2;
    }
    
    form > a.botao{
        text-decoration: none;
        background-color: #A7EBE2;
        display: block;
        text-align: center ;
        padding-top: 6px;
        font-size: 1em;
        height: 40px;
        border: 1px solid #63cfc1;
        color: black;
        border-radius: 5px;
        margin-top: 5px;
    
    }
    
    form > a.botao:hover{
        background-color: #63cfc1;
        border: 1px solid #A7EBE2;
    }

}

@media screen and (min-width: 1025px){
    body, html{
        background-color: #D1C9E8;
    }
    section#Login{
        width: 80vw;
        height: 80vh;
        box-shadow: 0px 0px  10px #5d537a;
    }
    section#Login > div#imagen{
        float: right;
        width: 40%;
        height: 100vh;
        background-position: center;
    }

    section#Login > div#formulário{
        float: left;
        width: 60%;
    }

    div#formulário > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#formulário > p{
        font-size: 1em;
    }

    form > div.campo{
        display: block;
        background-color: #a797da;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        margin: 5px 5px 5px -1px;
    }

    div.campo > label{
        display: none;
    }
    

    div.campo > span{
        color: white;
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }

    div.campo > input{
        font-size: 1em;
        width: calc(80% - 30px);
        height: 80%;
        border: 0px;
        border-radius: 5px;
        transform: translateY(-10px);
        
        }

    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #D1C9E8 ;
        border: 1px solid #a797da;
        cursor: pointer;
        border-radius: 5px;
    }
    
    form > input[type=submit]:hover{
        background-color: #a797da;
        border: 1px solid #D1C9E8;
    }
    
    form > a.botao{
        text-decoration: none;
        background-color: #D1C9E8;
        display: block;
        text-align: center ;
        padding-top: 6px;
        font-size: 1em;
        height: 40px;
        border: 1px solid #a797da;
        color: black;
        border-radius: 5px;
        margin-top: 5px;
    
    }
    
    form > a.botao:hover{
        background-color: #a797da;
        border: 1px solid #D1C9E8;
    }

}

