@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */
 
 @media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        display: block;
        margin: auto;
 }

    article#grup{
        padding-bottom: 10px;
    }

    div.grup{
        width: 100%;
        background-size: cover;
        height: 97%;
    }

    article#solo{
        height: 100%;
        padding-bottom: 20px;
    }

    div.solo > img{
        display: block;
        margin: auto;
        margin-top: 10px;
        max-width: 650px;
    }

 }

 @media screen and (min-width: 769px) and (max-width: 1024px) {

    body{
        display: block;
        margin: auto;
 }

    article#grup{
        padding-bottom: 10px;
    }

    div.grup{
        width: 100%;
        background-size: cover;
        height: 97%;
    }

    article#solo{
        height: 100%;
        padding-bottom: 20px;
    }

    div.solo > img{
        border-radius: 10px;
        display: block;
        margin: auto;
        margin-top: 10px;
        max-width: 650px;
    }

    p.txt{
        display: block;
        margin: auto;
        text-align: center;
        max-width: 600px;
        margin-top: 5px;
    }

    p.listen > img{
        width: 200px;
        margin: 0px 0px 5px 35px;
    }

    div.album > a > img{
        width: 330px;
    }

    div.album > a > img:hover{
        width: 340px;
        box-shadow: 5px 3px 10px rgb(90, 90, 90);
        transition: 0.2s;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    body{
        display: block;
        margin: auto;
 }

    article#grup{
        padding-bottom: 10px;
    }

    div.grup{
        width: 100%;
        background-size: cover;
        height: 97%;
    }

    article#solo{
        height: 100%;
        padding-bottom: 20px;
    }

    div.solo > img{
        border-radius: 10px;
        display: block;
        margin: auto;
        margin-top: 10px;
        max-width: 60%;
    }

    p.name{
        font-size: 1.6em;
        transition: 0.2s;
    }

    p.name:hover{
        color: white;
        cursor: pointer;
        transition: 0.2s;
    }

    p.txt{
        display: block;
        margin: auto;
        margin-top: 5px;
        text-align: center;
        max-width: 600px;
    }

    div.album > a > img{
        margin-top: -50px;
        width: 350px;
    }

    div.album > a > img:hover{
        width: 360px;
        box-shadow: 5px 3px 10px rgb(90, 90, 90);
        transition: 0.2s;
    }

    p.listen > img{
        width: 300px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 1201px) {

    body{
        background-attachment: fixed;
        display: block;
        margin: auto;
        
 }

    article#grup{
        margin-top: 500px;
        padding-bottom: 10px;
    }

    div.grup{
        width: 100%;
        background-size: cover;
        height: 97%;
    }

    article#solo{
        height: 100%;
        float: left;
        padding-bottom: 20px;
    }


    div.solo > img{
        display: block;
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        max-width: 70%;
    }

    p.name{
        font-size: 1.7em;
        transition: 0.2s;
    }

    p.name:hover{
        color: white;
        cursor: pointer;
        transition: 0.2s;
    }

    p.txt{
        display: block;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        max-width: 700px;
        font-size: 1.1em;
    }

    div.album > a > img{
        margin-top: -50px;
        width: 390px;
        transition: 0.2s;
    }

    div.album > a > img:hover{
        width: 400px;
        box-shadow: 5px 3px 10px rgb(90, 90, 90);
        transition: 0.2s;
    }

    p.listen > img{
        width: 320px;
        margin-left: 50px;
        margin-top: 20px;
    }
}
