@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: block;
    margin: auto;
    background-image: url(../img/fundo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center top ;
}

header{
    width: 100%;
    height: 70px;
    background-image: url(../img/pink-venom.png);
    margin: 20px 0px 30px 0px;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center center;
}

article#grup{
    background-color: rgb(2, 2, 2);
    margin-top: 300px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.grup > img{
    width: 100%;
    height: 100%;
}

article#solo{
    padding-top: 20px;
    background-color: pink;
    height: 100%;
    width: 100%;
}

div.solo > img{
    margin: 10px 0px 0px 0px;
}

p.txt{
    margin: 5px 10px 5px 10px;
    color: rgb(34, 34, 34);
    font-size: 0.9em;
}

article#album{
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 40px;
}

p.listen > img{
    width: 200px;
    margin: 0px 0px 5px 20px;
}

div.album > a >img{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
}

article#mv{
    width: 100%;
    height: 400px;
    background-color: pink;
    padding-top: 70px;
}

div.mv > p#mv{
   text-align: center;
   font-size: 1.2em;
}

div.mv > a > img{
    display: block;
    margin: auto;
    margin-top: 70px;
    width: 300px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
}

div.mv > a > img:hover{
    background-color: white;
    transition: 0.5s;
}
