

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #303030;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

article{
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: -20px;
}

header{
    background-color: #c92121;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130px;
    
 
}

a{
    font-family: 'Nova Square', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

nav > a > img{
    margin: -80px 20px 40px 20px ;
    width: 40px;
    height: 40px;
}

nav#df{
    margin: -80px 300px 65px 1000px;
    color: black;
    text-decoration: none;
}

h1{
    background-image: linear-gradient(to right, #303030, transparent);
    border-radius: 0px 0px 0px 3px;
    
}

h1#one{
    margin: 30px 0px 10px 0px;
    padding: 0px 0px 0px 330px;
    
    
}

h1#two{
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 340px;
    
}

h2{
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 340px;
    background-image: linear-gradient(to right,#c92121, transparent);
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
}

h2#names{
    padding: 0px 0px 0px 340px;

}


p.bml{
    
   margin: -120px 500px -30px 530px;
}

p.yg{
     margin: 10px -20px 10px 130px;
}

img{
    width: 70%;
}

p.members{
    margin: 10px -10px 10px 150px;
    background-size: 100%;
}

p.rami{
    margin: 10px 10px 10px 150px;
    background-size: 100%;
}

p.pharita{
    margin: 10px -20px 10px 150px;
    background-size: 100%;
}

p.chiquita{
    margin: 10px -20px 10px 150px;
    background-size: 100%;
}

p.ruka{
    margin: 10px -20px 10px 150px;
    background-size: 100%;
}

p.asa{
    margin: 10px -20px 10px 150px;
    background-size: 100%;
}

p.rora{
    margin: 10px -20px 10px 150px;
    background-size: 100%;
}

p.bu{
    margin: 5px -110px 10px 110px ;
    
}

p.bu.{
    margin: 5px 90px 10px 0px;

}