

*{
    margin: 0px;
    padding: 0px;
}

body{
    color: white;
}

article{
    max-width: 600px;
    margin: 0px 90px 0px 350px;
    background-color: aqua;
    border-radius: 5px;
}

header{
    background-image: url(imagens/Design\ sem\ nome.png);
    background-size: 1350px;
    background-repeat: no-repeat;
    margin: -180px 1px 0px 1px;
    height: 280px;
    min-width: 100px;
}