

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(48, 48, 48);
}

article{
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 25px;
}

header{
    background-color: #c92121;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130px;
    
 
}


p.bml{
    
   margin: -120px 500px -30px 530px;
}

p.yg{
     margin: 10px -20px 10px 130px;
}

img{
    width: 70%;
}
